In [1]:
import matplotlib

matplotlib.rc('font', family = 'Malgun Gothic')

In [2]:
import warnings

warnings.filterwarnings('ignore')

In [3]:
matplotlib.rc('axes', unicode_minus = False)

In [4]:
import pandas as pd
from pathlib import Path

In [5]:
folder = 'C:/OCU교육/data/'
data_dir = Path(folder)
excel_files = data_dir.glob('제품판매량_*')
total_df = pd.DataFrame()
for excel_file in excel_files:
    df = pd.read_excel(excel_file)
    total_df = total_df.append(df, ignore_index = True)
    
total_df

    제품명  담당자  지역   1월   2월   3월   4월   5월   6월
0  스마트폰  강감찬  동부  125  135  115  120  111  125
1    TV  강감찬  동부   65   64   62   69   64   69
2   냉장고  강감찬  동부   48   45   44   48   44   45
3  스마트폰  이순신  서부  110  105  114  120  110  118
4    TV  이순신  서부   67   68   65   72   68   69
5   냉장고  이순신  서부   50   46   50   50   45   54
6  스마트폰  홍길동  남부  110  104  110  106  106  106
7    TV  홍길동  남부   60   65   62   68   66   60
8   냉장고  홍길동  남부   44   40   47   46   47   41

In [6]:
merged_file = folder + '제품판매량통합.xlsx'
total_df.to_excel(merged_file, sheet_name = '제품판매량통합', index = False)
print('생성파일:', merged_file)

생성파일: C:/OCU교육/data/제품판매량통합.xlsx

In [7]:
import pandas as pd
import numpy as np
from pathlib import Path
import xlwings as xw

folder = 'C:/OCU교육/data'
data_dir = Path(folder)
excel_files = data_dir.glob('제품판매량_*')
total_df2 = pd.DataFrame()
for excel_file in excel_files:
    wb = xw.Book(excel_file)
    sht = wb.sheets['Sheet1']
    df = sht.range('A1').options(pd.DataFrame, expand = 'table', index = False).value
    wb.close()
    total_df2 = total_df2.append(df, ignore_index = True)
    
total_df2

    제품명  담당자  지역     1월     2월     3월     4월     5월     6월
0  스마트폰  강감찬  동부  125.0  135.0  115.0  120.0  111.0  125.0
1    TV  강감찬  동부   65.0   64.0   62.0   69.0   64.0   69.0
2   냉장고  강감찬  동부   48.0   45.0   44.0   48.0   44.0   45.0
3  스마트폰  이순신  서부  110.0  105.0  114.0  120.0  110.0  118.0
4    TV  이순신  서부   67.0   68.0   65.0   72.0   68.0   69.0
5   냉장고  이순신  서부   50.0   46.0   50.0   50.0   45.0   54.0
6  스마트폰  홍길동  남부  110.0  104.0  110.0  106.0  106.0  106.0
7    TV  홍길동  남부   60.0   65.0   62.0   68.0   66.0   60.0
8   냉장고  홍길동  남부   44.0   40.0   47.0   46.0   47.0   41.0

In [11]:
folder = 'C:/OCU교육/data/'
data_dir = Path(folder)
excel_files = data_dir.glob('FITNESS_T*')
total_df = pd.DataFrame()
for excel_file in excel_files:
    df = pd.read_excel(excel_file)
    total_df = total_df.append(df, ignore_index = True)
    
total_df

,NAME,GENDER,AGE,AGEGROUP,WEIGHT,OXY,RUNTIME,RUNPULSE,RSTPULSE,MAXPULSE
0,Donna,여성,42,40대,68.15,59.571,8.17,166,40,172
1,Gracie,여성,38,30대,81.87,60.055,8.63,170,48,186
2,Luanne,여성,43,40대,85.84,54.297,8.65,156,45,168
3,Mimi,여성,50,50대,70.87,54.625,8.92,146,48,155
4,Chris,남성,49,40대,81.42,49.156,8.95,180,44,185
5,Allen,남성,38,30대,89.02,49.874,9.22,178,55,180
6,Nancy,여성,49,40대,76.32,48.673,9.40,186,56,188
7,Patty,여성,52,50대,76.32,45.441,9.63,164,48,166
8,Suzanne,여성,57,50대,59.08,50.545,9.93,148,49,155
9,Teresa,여성,51,50대,77.91,46.672,10.00,162,48,168
10,Bob,남성,39,30대,75.07,45.313,10.07,185,62,185
11,Harriett,여성,49,40대,73.37,50.388,10.08,168,67,168
12,Jane,여성,44,40대,73.03,50.541,10.13,168,45,168
13,Harold,남성,48,40대,91.63,46.774,10.25,162,48,164
14,Sammy,남성,54,50대,83.12,51.855,10.33,166,50,170
15,Buffy,여성,52,50대,73.71,45.790,10.47,186,59,188
16,Trent,남성,38,30대,82.78,47.467,10.50,170,53,172
17,Jackie,여성,47,40대,79.15,47.273,10.60,162,47,164
18,Ralph,남성,43,40대,81.19,49.091,10.85,162,64,170
19,Jack,남성,51,50대,69.63,40.836,10.95,168,57,172
20,Annie,여성,51,50대,67.25,45.118,11.08,172,48,172
21,Kate,여성,45,40대,66.45,44.754,11.12,176,51,176
22,Carl,남성,54,50대,79.38,46.080,11.17,156,62,165
23,Don,남성,44,40대,89.47,44.609,11.37,178,62,182
24,Effie,여성,48,40대,61.24,47.920,11.50,170,52,176
25,George,남성,37,30대,77.45,44.811,11.63,176,58,176
26,Iris,여성,39,30대,75.98,45.681,11.95,176,70,180
27,Mark,남성,57,50대,73.37,39.407,12.63,174,58,176
28,Steve,남성,54,50대,91.63,39.203,12.88,168,44,172
29,Vaughn,남성,44,40대,81.42,39.442,13.08,174,63,176
30,William,남성,45,40대,87.66,37.388,14.03,186,56,192

In [10]:
merged_file = folder + 'FITNESS통합.xlsx'
total_df.to_excel(merged_file, sheet_name = 'FITNESS통합', index = False)
print('생성파일:', merged_file)

생성파일: C:/OCU교육/data/FITNESS통합.xlsx

In [10]:
excel_files

In [14]:
folder = 'C:/OCU교육/data'
data_dir = Path(folder)
excel_files = data_dir.glob('FITNESS_T*')
total_df2 = pd.DataFrame()
for excel_file in excel_files:
    wb = xw.Book(excel_file)
    sht = wb.sheets['FITNESS']
    df = sht.range('A1').options(pd.DataFrame, expand = 'table', index = False).value
    wb.close()
    total_df2 = total_df2.append(df, ignore_index = True)
    
total_df2

,NAME,GENDER,AGE,AGEGROUP,WEIGHT,OXY,RUNTIME,RUNPULSE,RSTPULSE,MAXPULSE
0,Donna,여성,42.0,40대,68.15,59.571,8.17,166.0,40.0,172.0
1,Gracie,여성,38.0,30대,81.87,60.055,8.63,170.0,48.0,186.0
2,Luanne,여성,43.0,40대,85.84,54.297,8.65,156.0,45.0,168.0
3,Mimi,여성,50.0,50대,70.87,54.625,8.92,146.0,48.0,155.0
4,Chris,남성,49.0,40대,81.42,49.156,8.95,180.0,44.0,185.0
5,Allen,남성,38.0,30대,89.02,49.874,9.22,178.0,55.0,180.0
6,Nancy,여성,49.0,40대,76.32,48.673,9.40,186.0,56.0,188.0
7,Patty,여성,52.0,50대,76.32,45.441,9.63,164.0,48.0,166.0
8,Suzanne,여성,57.0,50대,59.08,50.545,9.93,148.0,49.0,155.0
9,Teresa,여성,51.0,50대,77.91,46.672,10.00,162.0,48.0,168.0
10,Bob,남성,39.0,30대,75.07,45.313,10.07,185.0,62.0,185.0
11,Harriett,여성,49.0,40대,73.37,50.388,10.08,168.0,67.0,168.0
12,Jane,여성,44.0,40대,73.03,50.541,10.13,168.0,45.0,168.0
13,Harold,남성,48.0,40대,91.63,46.774,10.25,162.0,48.0,164.0
14,Sammy,남성,54.0,50대,83.12,51.855,10.33,166.0,50.0,170.0
15,Buffy,여성,52.0,50대,73.71,45.790,10.47,186.0,59.0,188.0
16,Trent,남성,38.0,30대,82.78,47.467,10.50,170.0,53.0,172.0
17,Jackie,여성,47.0,40대,79.15,47.273,10.60,162.0,47.0,164.0
18,Ralph,남성,43.0,40대,81.19,49.091,10.85,162.0,64.0,170.0
19,Jack,남성,51.0,50대,69.63,40.836,10.95,168.0,57.0,172.0
20,Annie,여성,51.0,50대,67.25,45.118,11.08,172.0,48.0,172.0
21,Kate,여성,45.0,40대,66.45,44.754,11.12,176.0,51.0,176.0
22,Carl,남성,54.0,50대,79.38,46.080,11.17,156.0,62.0,165.0
23,Don,남성,44.0,40대,89.47,44.609,11.37,178.0,62.0,182.0
24,Effie,여성,48.0,40대,61.24,47.920,11.50,170.0,52.0,176.0
25,George,남성,37.0,30대,77.45,44.811,11.63,176.0,58.0,176.0
26,Iris,여성,39.0,30대,75.98,45.681,11.95,176.0,70.0,180.0
27,Mark,남성,57.0,50대,73.37,39.407,12.63,174.0,58.0,176.0
28,Steve,남성,54.0,50대,91.63,39.203,12.88,168.0,44.0,172.0
29,Vaughn,남성,44.0,40대,81.42,39.442,13.08,174.0,63.0,176.0
30,William,남성,45.0,40대,87.66,37.388,14.03,186.0,56.0,192.0

In [15]:
import pandas as pd

folder = 'C:/OCU교육/data/'
excel_file = folder + '거래명세서_1258115.xlsx'
df = pd.read_excel(excel_file)
df

,거래명세서,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,거래처,도레미,NaN,NaN,NaN,귀하
1,NaN,NaN,NaN,NaN,NaN,NaN
2,공\n급\n자,사업자등록번호,100-00-12345,NaN,NaN,NaN
3,NaN,상호,OCU 팩토리,NaN,NaN,NaN
4,NaN,사업장소재지,포항시 남구,NaN,NaN,NaN
5,NaN,업태,"서비스, 제조업, 도소매업",NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN
7,작성일자,NaN,발행번호,NaN,비고,NaN
8,2020-09-01 00:00:00,NaN,1258115,NaN,NaN,NaN
9,None,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,(단위: 원),NaN
11,번호,제품명,규격,수량,단가,금액
12,1,컴퓨터본체,CQA120,2,700000,1400000
13,2,모니터,MX54B,2,300000,600000
14,3,프린터,PRT0923,3,200000,600000
15,4,키보드,KYD83A,8,22000,176000
16,5,NaN,NaN,NaN,NaN,NaN
17,6,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,합계,2776000
19,NaN,NaN,NaN,NaN,세금,277600
20,NaN,NaN,NaN,NaN,청구금액,3053600

In [16]:
column_names0 = [df.iloc[7][0], df.iloc[7][2], df.iloc[0][0]]
column_names1 = list(df.iloc[11, 1:6].values)
column_names = column_names0 + column_names1
column_names

['작성일자', '발행번호', '거래처', '제품명', '규격', '수량', '단가', '금액']

In [17]:
df_new = pd.DataFrame(columns = column_names)
df_new

Empty DataFrame
Columns: [작성일자, 발행번호, 거래처, 제품명, 규격, 수량, 단가, 금액]
Index: []

In [18]:
date = df.iloc[8][0]
date_new = date.strftime('%Y-%m-%d')
issue_num = df.iloc[8][2]
company = df.iloc[0][1]

In [19]:
row_num = 6
df_new[column_names[0]] = [date_new] * row_num
df_new[column_names[1]] = [issue_num] * row_num
df_new[column_names[2]] = [company] * row_num
df_new

         작성일자     발행번호  거래처  제품명   규격   수량   단가   금액
0  2020-09-01  1258115  도레미  NaN  NaN  NaN  NaN  NaN
1  2020-09-01  1258115  도레미  NaN  NaN  NaN  NaN  NaN
2  2020-09-01  1258115  도레미  NaN  NaN  NaN  NaN  NaN
3  2020-09-01  1258115  도레미  NaN  NaN  NaN  NaN  NaN
4  2020-09-01  1258115  도레미  NaN  NaN  NaN  NaN  NaN
5  2020-09-01  1258115  도레미  NaN  NaN  NaN  NaN  NaN

In [20]:
df_new[column_names[3]] = df.iloc[12: 12 + row_num, 1].values
df_new

         작성일자     발행번호  거래처    제품명   규격   수량   단가   금액
0  2020-09-01  1258115  도레미  컴퓨터본체  NaN  NaN  NaN  NaN
1  2020-09-01  1258115  도레미    모니터  NaN  NaN  NaN  NaN
2  2020-09-01  1258115  도레미    프린터  NaN  NaN  NaN  NaN
3  2020-09-01  1258115  도레미    키보드  NaN  NaN  NaN  NaN
4  2020-09-01  1258115  도레미    NaN  NaN  NaN  NaN  NaN
5  2020-09-01  1258115  도레미    NaN  NaN  NaN  NaN  NaN

In [21]:
for k in range(5):
    df_new[column_names[3 + k]] = df.iloc[12: 12 + row_num, 1 + k].values
    
df_new

         작성일자     발행번호  거래처    제품명       규격   수량      단가       금액
0  2020-09-01  1258115  도레미  컴퓨터본체   CQA120    2  700000  1400000
1  2020-09-01  1258115  도레미    모니터    MX54B    2  300000   600000
2  2020-09-01  1258115  도레미    프린터  PRT0923    3  200000   600000
3  2020-09-01  1258115  도레미    키보드   KYD83A    8   22000   176000
4  2020-09-01  1258115  도레미    NaN      NaN  NaN     NaN      NaN
5  2020-09-01  1258115  도레미    NaN      NaN  NaN     NaN      NaN

In [22]:
df_new = df_new.dropna()
df_new

         작성일자     발행번호  거래처    제품명       규격 수량      단가       금액
0  2020-09-01  1258115  도레미  컴퓨터본체   CQA120  2  700000  1400000
1  2020-09-01  1258115  도레미    모니터    MX54B  2  300000   600000
2  2020-09-01  1258115  도레미    프린터  PRT0923  3  200000   600000
3  2020-09-01  1258115  도레미    키보드   KYD83A  8   22000   176000

In [23]:
url = 'https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=1&ie=utf8&query=%ED%99%98%EC%9C%A8%EC%A0%95%EB%B3%B4'
df = pd.read_html(url)
df

[          통화명    매매기준율        전일대비     등락률
 0      미국 USD  1120.50  전일대비하락3.50  -0.31%
 1  일본 JPY 100  1026.43  전일대비하락3.58  -0.35%
 2    유럽연합 EUR  1352.44  전일대비하락1.14  -0.08%
 3      중국 CNY   173.79  전일대비상승0.16  +0.09%
 4      영국 GBP  1558.56  전일대비하락3.24  -0.21%
 5      호주 AUD   871.13  전일대비상승0.25  +0.03%
 6     캐나다 CAD   920.06  전일대비상승1.91  +0.21%
 7    뉴질랜드 NZD   808.44  전일대비하락1.51  -0.19%]

In [24]:
df[0]

          통화명    매매기준율        전일대비     등락률
0      미국 USD  1120.50  전일대비하락3.50  -0.31%
1  일본 JPY 100  1026.43  전일대비하락3.58  -0.35%
2    유럽연합 EUR  1352.44  전일대비하락1.14  -0.08%
3      중국 CNY   173.79  전일대비상승0.16  +0.09%
4      영국 GBP  1558.56  전일대비하락3.24  -0.21%
5      호주 AUD   871.13  전일대비상승0.25  +0.03%
6     캐나다 CAD   920.06  전일대비상승1.91  +0.21%
7    뉴질랜드 NZD   808.44  전일대비하락1.51  -0.19%

In [25]:
exchange_rate_df = df[0].replace({'전일대비상승':'▲', '전일대비하락': '▼'}, regex = True)
exchange_rate_df

          통화명    매매기준율   전일대비     등락률
0      미국 USD  1120.50  ▼3.50  -0.31%
1  일본 JPY 100  1026.43  ▼3.58  -0.35%
2    유럽연합 EUR  1352.44  ▼1.14  -0.08%
3      중국 CNY   173.79  ▲0.16  +0.09%
4      영국 GBP  1558.56  ▼3.24  -0.21%
5      호주 AUD   871.13  ▲0.25  +0.03%
6     캐나다 CAD   920.06  ▲1.91  +0.21%
7    뉴질랜드 NZD   808.44  ▼1.51  -0.19%

In [29]:
excel_file = folder + '네이버환율_표.xlsx'
exchange_rate_df.to_excel(excel_file, index = False)
print('생성파일:', excel_file)

생성파일: C:/OCU교육/data/네이버환율_표.xlsx

In [32]:
import pandas as pd

folder = 'C:/OCU교육/data/'
excel_file = folder + '영업팀별판매현황.xlsx'
df = pd.read_excel(excel_file)
df

     월  영업1팀  영업2팀  영업3팀
0   7월    10    20    30
1   8월    20    40    60
2   9월    30    60    90
3  10월    40    80   120
4  11월    50   100   150
5  12월    60   120   180

In [7]:
excel_file_chart = folder + '영업팀별판매현황_차트.xlsx'
excel_writer = pd.ExcelWriter(excel_file_chart, engine = 'xlsxwriter')
worksheet_name = 'Sheet1'
df.to_excel(excel_writer, sheet_name = worksheet_name, index = False)
workbook = excel_writer.book
worksheet = excel_writer.sheets[worksheet_name]

In [35]:
chart = workbook.add_chart({'type': 'line'})
columns_len = len(df.columns)
for k in range(columns_len - 1):
    start_row = 1
    start_column = k + 1
    end_row = len(df.index)
    end_column = k + 1
    chart.add_series({'values':[worksheet_name, start_row, start_column, end_row, end_column],
                     'categories': [worksheet_name, start_row, 0, end_row, 0],
                     'name': [worksheet_name, 0, k + 1],
                     'marker': {'type': 'circle'}})

In [36]:
chart.set_title({'name': '팀별 판매 현황'})
chart.set_x_axis({'name': '월'})
chart.set_y_axis({'name': '판매량'})

worksheet.insert_chart(1, columns_len, chart, {'x_offset': 25, 'y_offset': 10})
excel_writer.save()
print('생성파일:', excel_file_chart)

생성파일: C:/OCU교육/data/영업팀별판매현황_차트.xlsx